.page {
  min-height: 100vh;

  .header-container {
    padding: 0 24rpx 0 38rpx;
    height: 98rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search {
      width: 179rpx;
      height: 60rpx;
      background-color: #f5f5f5;
      border-radius: 30rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        width: 25rpx;
        height: 25rpx;
      }
      .label {
        margin-left: 7rpx;
        font-size: 22rpx;
        color: #aaaaaa;
      }
    }
  }

  .map-container {
    .store-map {
      width: 100%;
      position: relative;
      .current-location {
        width: 51rpx;
        height: 51rpx;
        position: absolute;
        right: 18rpx;
        bottom: 33rpx;
      }
    }
  }

  .collapse-panel {
    width: 100%;
    height: 68rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1rpx solid #eaeaea;
    .label {
      font-size: 25rpx;
      color: #777777;
    }
    .icon {
      margin-left: 20rpx;
      width: 32rpx;
      height: 32rpx;
    }
  }

  .stores-container {
    width: 100%;
    background-color: #f8f8f8;
    .store {
      margin: 24rpx;
      padding: 30rpx 24rpx;
      background-color: #ffffff;
      border-radius: 19rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .info {
        border-right: 1rpx solid #eeeeee;
        flex: 1;
        padding-right: 23rpx;
        .name {
          font-size: 25rpx;
          font-weight: bold;
        }
        .tag {
          margin-top: 18rpx;
          display: flex;
          align-items: center;
          .business-status {
            width: 111rpx;
            height: 50rpx;
            background-color: #d60017;
            color: #ffffff;
            border-radius: 6rpx;
            font-size: 23rpx;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .delivery-method {
            margin-left: 14rpx;
            width: 111rpx;
            height: 50rpx;
            background-color: #fef8f8;
            color: #d60017;
            border-radius: 6rpx;
            font-size: 23rpx;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .opening-hours {
          margin-top: 18rpx;
          font-size: 23rpx;
          color: #777777;
        }
        .address {
          margin-top: 24rpx;
          font-size: 23rpx;
          color: #777777;
        }
      }
      .location {
        width: 184rpx;
        display: flex;
        flex-direction: column;
        align-items: center;
        .star {
          width: 27rpx;
          height: 27rpx;
        }
        .label {
          margin-top: 44rpx;
          font-size: 21rpx;
        }
        .action-wrapper {
          margin-top: 28rpx;
          display: flex;
          align-items: center;
          .action-btn {
            width: 44rpx;
            height: 44rpx;
            background-color: #fef9f9;
            border-radius: 22rpx;
            display: flex;
            align-items: center;
            justify-content: center;
            image {
              width: 21rpx;
              height: 21rpx;
            }
            &.phone {
              margin-left: 24rpx;
            }
          }
        }
      }
    }
    .blank {
      padding-bottom: calc(16rpx + constant(safe-area-inset-bottom));
      padding-bottom: calc(16rpx + env(safe-area-inset-bottom));
    }
    .empty {
      width: 100%;
      height: 100%;
      padding-top: 71rpx;
      display: flex;
      flex-direction: column;
      align-items: center;
      image {
        width: 364rpx;
        height: 276rpx;
      }
      .desc {
        margin-top: 30rpx;
        font-size: 20rpx;
        color: #aaaaaa;
      }
    }
  }

  .store-detail-popup {
    .notification {
      width: 100%;
      height: 86rpx;
      display: flex;
      align-items: center;
      background-color: #fcf0f4;
      padding: 0 30rpx;
      .icon {
        width: 38rpx;
        height: 38rpx;
      }
      .content {
        margin-left: 14rpx;
        font-size: 20rpx;
        color: #e60012;
      }
    }
    .detail-info-wrapper {
      padding: 0 30rpx;
      margin-bottom: calc(16rpx + constant(safe-area-inset-bottom));
      margin-bottom: calc(16rpx + env(safe-area-inset-bottom));
      .header {
        margin: 25rpx 0;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .info {
          padding-right: 30rpx;
          .name {
            font-size: 26rpx;
            line-height: 26rpx;
            font-weight: bold;
          }
          .address {
            margin-top: 14rpx;
            font-size: 20rpx;
            line-height: 20rpx;
            color: #aaaaaa;
          }
        }
        .distance {
          flex: 1 0 auto;
          font-size: 20rpx;
          color: #aaaaaa;
          display: flex;
          align-items: center;
          justify-content: flex-end;
        }
      }
      .store-detail-map {
        width: 100%;
        height: 392rpx;
      }
      .menu-btn {
        margin-top: 25rpx;
        width: 100%;
        height: 85rpx;
        border-radius: 13rpx;
        background-color: #e60012;
        color: #ffffff;
        font-size: 29rpx;
        display: flex;
        align-items: center;
        justify-content: center;
        &.button-hover {
          background-color: #c30014;
        }
      }
    }
  }
}
