.page {
  min-height: 100vh;

  .header-container {
    padding: 0 24rpx 0 38rpx;
    height: 98rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .search {
      width: 179rpx;
      height: 60rpx;
      background-color: #f5f5f5;
      border-radius: 30rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        width: 25rpx;
        height: 25rpx;
      }
      .label {
        margin-left: 7rpx;
        font-size: 22rpx;
        color: #aaaaaa;
      }
    }
  }
}
