.page {
  min-height: 100vh;
  background-color: #f4f4f7;
  display: flex;
  flex-direction: column;
  align-items: center;

  .swiper-container {
    width: 100%;
    height: 632rpx;
    position: relative;
    swiper {
      height: 100%;
      swiper-item {
        height: 100%;
        image {
          width: 100%;
          height: 100%;
        }
      }
    }
    .dots {
      position: absolute;
      left: 63rpx;
      bottom: 89rpx;
      display: flex;
      .dot {
        width: 7rpx;
        height: 7rpx;
        background-color: #ffffff;
        opacity: 0.5;
        border-radius: 7rpx;
        &:nth-child(n + 2) {
          margin-left: 7rpx;
        }
        &.active {
          width: 29rpx;
          opacity: 1;
        }
      }
    }
  }

  .member-container {
    width: 703rpx;
    height: 132rpx;
    border-radius: 22rpx;
    background-color: #ffffff;
    box-shadow: 4rpx 4rpx 8rpx rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -69rpx;
    z-index: 1;
    .vip-wrapper {
      margin-left: 24rpx;
      display: flex;
      align-items: center;
      image {
        width: 63rpx;
        height: 63rpx;
      }
      .info {
        margin-left: 22rpx;
        display: flex;
        align-items: center;
        .phone {
          font-size: 28rpx;
          font-weight: bold;
        }
        .rank {
          font-size: 20rpx;
          color: #5171ff;
          background-color: #eff5ff;
          padding: 7rpx 16rpx 6rpx 14rpx;
          border-radius: 34rpx;
          margin-left: 8rpx;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .meta {
        margin-left: 28rpx;
        .title {
          font-size: 25rpx;
          font-weight: bold;
        }
        .tips {
          font-size: 20rpx;
          color: #aaaaaa;
          margin-top: 14rpx;
        }
      }
    }
    .point-wrapper {
      margin-right: 25rpx;
      display: flex;
      align-items: center;
      justify-content: center;
      .point {
        margin-right: 34rpx;
        display: flex;
        flex-direction: column;
        align-items: center;
        .count {
          font-size: 28rpx;
          font-weight: bold;
        }
        .desc {
          font-size: 20rpx;
          color: #aaaaaa;
        }
      }
    }
    .login-btn {
      width: 150rpx;
      height: 63rpx;
      border-radius: 10rpx;
      font-size: 24rpx;
      color: #ffffff;
      background-color: #e60012;
      margin-right: 24rpx;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .menu-container {
    margin-top: 24rpx;
    width: 100%;
    padding: 0 24rpx 19rpx 24rpx;
    box-sizing: border-box;
    .location {
      display: flex;
      align-items: center;
      image {
        width: 22rpx;
        height: 25rpx;
        background-color: #f4f4f7;
      }
      .position {
        margin-left: 10rpx;
        font-size: 28rpx;
      }
    }
    .bg-banner {
      margin-top: 19rpx;
      width: 100%;
      height: 340rpx;
      border-radius: 22rpx;
      box-shadow: 4rpx 4rpx 8rpx rgba(0, 0, 0, 0.2);
    }
    .banner-list {
      margin-top: 19rpx;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .banner {
        width: 216rpx;
        height: 160rpx;
        border-radius: 22rpx;
        box-shadow: 4rpx 4rpx 8rpx rgba(0, 0, 0, 0.2);
      }
    }
  }
}
