.tabs {
  display: flex;
  align-items: center;
  position: relative;
  .tab {
    margin-right: 32rpx;
    font-size: 26rpx;
    color: #777777;
    &.active {
      color: #000000;
      font-size: 30rpx;
      font-weight: bold;
    }
  }
  .underline {
    height: 5rpx;
    border-radius: 2rpx;
    background-color: #d60017;
    position: absolute;
    bottom: -24rpx;
    transition: all 0.5s;
  }
}
